#background {
    position: absolute;
    background: linear-gradient(blue, white);
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    
}



fieldset {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 0px;
    align-self: center;
    border-color: green;



    background-color: rgb(174, 242, 174);


    border-radius: 15%;

}

label, input {
    font-size: 1.5rem;
}



#relaxingimg {
    justify-self: center;
    align-self: center;
    height: clamp(100px, 25vw, 30vw);
    width: clamp(100px, 25vw, 30vw);
}